<%- layout("/layouts/boilerplate") %>
<div class="row mt-2">
  <div class="col-8 offset-2">
    <h3>Create a new Listing!</h3>
    <form method="post" action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Enter title"
          class="form-control"
          required
        />
        <div class="valid-feedback">  <!--To display after user fill correct info-->
          Looks good!             
        </div>
        <div class="invalid-feedback">
          Title is Required!
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          id="description"
          rows="3"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">  <!--To display after user fill correct info-->
          Looks good!             
        </div>
        <div class="invalid-feedback">
          Please write a short description.
        </div>
      </div>

      <div class="mb-3">
        <label for="img-url" class="form-label">Image Link</label>
        <input
          type="text"
          name="listing[image]"
          id="img-url"
          class="form-control"
          placeholder="enter image URL/Link"
        />
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="listing[price]"
          class="form-control"
          id="price"
          required
        />
        <div class="valid-feedback">  <!--To display after user fill correct info-->
          Looks good!             
        </div>
        <div class="invalid-feedback">
          Please enter a Valid Price.
        </div>
      </div>

      <!-- <div class="row"> -->

      <div class="mb-3">
        <!-- col-md-6 -->
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          id="location"
          class="form-control"
          placeholder="The Pink City"
          required
        />
        <div class="valid-feedback">  <!--To display after user fill correct info-->
          Looks good!             
        </div>
        <div class="invalid-feedback">
          Location should be valid.
        </div>

      </div>

      <div class="mb-3">
        <!-- col-md-6 -->
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          id="country"
          class="form-control"
          placeholder="India"
          required
        />
        <div class="valid-feedback">  <!--To display after user fill correct info-->
          Looks good!             
        </div>
        <div class="invalid-feedback">
          Country should be valid.
        </div>
      </div>
      <!-- </div> -->
    <div class="mb-3">
      <button class="btn btn-dark ">Add</button>
    </div>
    </form>
  </div>
</div>
